doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Stock | Mayondo Wood & Furniture
    link(rel='stylesheet' href='/CSS/style.css')
  body
    header
      h1 Stock
      nav
        ul.nav-links
          li
            a(href='/manager-dashboard') Dashboard
          li
            a(href='/inventory') Inventory
          li
            a(href='/sales') Sales
          li
            a(href='/add-stock') Add Stock
          li
            a(href='/logout') Logout
    main.stock-page
      h2 Stock Levels
      table#stockTable
        thead
          tr
            th Product Name 
            th Product Type 
            th Cost Price 
            th Sale Price 
            th Quantity 
            th Actions
        tbody
         if stock && stock.length
          each item in stock
            tr
              td= item.productName
              td= item.producttype 
              td= item.costprice 
              td= item.saleprice 
              td= item.quantity
              td
                  button(action=`/edit-stock/${item._id}` style='display:inline-block; gap:10px; padding:3px 8px; margin-right:5px; background-color:#4CAF50; color:white; border-radius:3px; text-decoration:none; font-size:12px; font-weight:bolder; line-height:1; text-align:center;justify-content:center') ✏️ Edit
                    form(action=`/delete-stock/${item._id}` method='POST' style='display:inline')
                      button(type='submit' style='display:inline-block; padding:3px 8px; background-color:#f44336; color:white; border-radius:3px; font-size:12px; font-weight:bolder; line-height:1; text-align:center; border-radius:3px;cursor:pointer; justify-content:center') 🗑️ Delete
    footer
      p &copy; 2025 Mayondo Wood & Furniture Ltd
    script(src='/js/stock.js')
    script(src='/js/script.js')
